#logo {
    text-align: center;
}

#left_column {
    line-height: 1.5;
    background-color: #ffffff;
    height: 450px;
    width: 200px;
    float: left;
    padding: 5px;
}

#nav_container li {
    list-style-type: none;
}

#nav_container li a{
    text-decoration: none;
    color: #357456;

}